body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.title {
    text-align: center;
    display: block;
}

h3 {
    margin-top: 25px;
    border-bottom: 5px solid rgb(0, 146, 195);
    padding-bottom: 5px;
    text-align: left;
}

.container {
    box-sizing: content-box;
    width: 700px;
    height: auto;
    padding: 25px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin: 0 auto 25px;
}

#container-1 label {
    text-align: left;
}

#container-2 p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container-2 li {
    font-size: 16px;
    text-align: left;
    /* margin-left: auto; */
    margin-top: 10px;
}

#container-3 .box-margin {
    margin-bottom: 15px;
}

#container-4 th {
    align: center;
}

#workout-list {
    padding: 20px 20px 25px 20px;
}

.workout-card {
    transition: all 0.2s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.workout-card img {
    height: 80px;
    margin-bottom: 15px;
}