:root {
  --hacktiv-orange: #F57C00;
  --hacktiv-blue: #0092C3;
  --hacktiv-dark: #1F1F1F;
  --hacktiv-light: #FFF4E6;
}

body {
  background-color: var(--hacktiv-light);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  text-align: center;
  display: block;
  color: var(--hacktiv-dark);
  font-weight: 800;
  letter-spacing: 1px;
}

.logo-header {
  max-width: 270px;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .logo-header {
    max-width: 220px;
  }
}

h3 {
  margin-top: 25px;
  border-bottom: 4px solid var(--hacktiv-blue);
  color: var(--hacktiv-dark);
  padding-bottom: 5px;
  text-align: left;
}

.container {
  box-sizing: content-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  height: auto;
  padding: 25px;
  background-color: white;
  border: 2px solid var(--hacktiv-dark);
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 25px;
}

#container-1 label {
  text-align: left;
}

#container-2 p {
  margin: 0;
  padding: 0;
  text-align: center;
}

#container-2 li {
  font-size: 16px;
  text-align: left;
  /* margin-left: auto; */
  margin-top: 10px;
}

#container-3 .box-margin {
  margin-bottom: 15px;
}

/* bagian produk suplement */
#container-4 {
  padding-bottom: 10px;
}

#container-1::before,
#container-3::before,
#container-4::before,
#container-5::before,
#container-6::before {
  content: "";
  display: block;
  height: 6px;
  background: linear-gradient(90deg,
      var(--hacktiv-orange),
      var(--hacktiv-blue));
  border-radius: 8px 8px 0 0;
  margin: -25px -25px 20px -25px;
}

/* #container-4 th {
    align: center;
} */

#workout-list {
  padding: 20px 20px 25px 20px;
}

.workout-card {
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

.workout-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workout-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(245, 124, 0, 0.25);
}

.workout-card img {
  height: 80px;
  margin-bottom: 15px;
}

.table {
  white-space: nowrap;
}

#workout-table thead {
  background-color: var(--hacktiv-blue) !important;
  color: white;
}

#workout-table td {
  white-space: normal;
  overflow-wrap: break-word;
}

#workout-table th {
  white-space: nowrap;
}

#workout-table td:nth-child(6) {
  max-width: 250px;
  white-space: normal;
  word-break: break-word;
}

#workout-table tbody tr:hover {
  background-color: rgba(0, 146, 195, 0.1);
}

.badge.bg-info {
  background-color: var(--hacktiv-blue) !important;
}

/* Bagian keranjang produk */

td {
  padding: 12px;
  color: #555;
}

.total-row td {
  border-top: 2px solid #333;

}

.btn-hapus {
  background-color: #e74c3c;
  color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}